*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}
body{
  background-color: #c5c5c5;
}
.container{
  width: 100%;
  max-width: 1250px;
  margin:auto;
}